$accent: #243f4d;
$links: #436372;
$bg: #fef7f0;
$footer-link: #7b7b7b;

%DMSans-Regular {
    font-family: "DMSans", sans-serif;
    font-weight: 400;
}

%DMSans-Medium {
    font-family: "DMSans", sans-serif;
    font-weight: 500;
}

%DMSans-Bold {
    font-family: "DMSans", sans-serif;
    font-weight: 700;
}

%Poppins-Bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

%Rubik-Medium {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

%Rubik-Regular {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}