@import "reset";
@import "fonts";
@import "variables";
@import "global";

.header {
    padding: 45px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
    }
    &__list-item:not(:first-child) {
        margin-left: 30px;
    }
    &__list-link {
        font-size: 15px;
        @extend %Rubik-Medium;
        text-decoration: none;
        color: $links;
    }
}

.user__nav {
    display: flex;
    &-link {
        position: relative;
        text-decoration: none;
        background-color: #CCC;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:first-child {
            margin-right: 20px;
        }
    }
    &-link--gray {
        background-color: #edf1f4;
    }
    &-link--blue {
        background-color: #a3bbc8;
    }
    &-number {
        color: $accent;
        background-color: #fff;
        @extend %DMSans-Medium;
        font-size: 10px;
        position: absolute;
        font-weight: 400;
        line-height: 1.7;
        text-align: center;
        padding: 0 5px;
        border-radius: 50%;
        top: -7px;
        right: 25px;
        z-index: 2;
    }
    &-link-group {
        width: 180px;
        height: 50px;
        background-color: #fcd7b6;
        position: relative;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 20px;
        &-item {
            position: relative;
            width: 90px;
            display: flex;
            justify-content: center;
            z-index: 1;
        }
        &-first::after {
            content: "";
            position: absolute;
            background-color: #fde7d3;
            height: 30px;
            width: 2px;
            top: 50%;
            transform: translateY(-50%);
            left: 90px;
            display: block;
            z-index: 10;
        }
    }
}

.footer {
    &__logo {
        display: block;
        margin-bottom: 30px;
    }
}

.footer-top {
    padding: 80px 0 75px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    font-size: 14px;
    &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #dae4e9;
        position: absolute;
        display: block;
        bottom: 0;
        margin-top: 75px;
    }
    &__column {
        width: 200px;
    }
    &__subscribe {
        width: 270px;
    }
    &__title {
        color: #1f2044;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 25px;
        @extend %DMSans-Bold;
    }
    &__link,
    &__text {
        color: $footer-link;
        display: block;
        line-height: 20px;
        margin-bottom: 10px;
        text-decoration: none;
        @extend %Rubik-Regular;
    }
    &__form {
        margin-top: 40px;
        width: 270px;
        display: flex;
    }
    &__input {
        max-width: 170px;
        width: 100%;
        padding: 0 10px;
        height: 40px;
        background-color: $bg;
        line-height: 1.5;
        margin-right: 0;
        flex: 1 1 auto;
        &::placeholder {
            color: #234969;
            @extend %DMSans-Regular;
        }
    }
    &__btn {
        display: inline;
        padding: 0 10px;
        height: 40px;
        color: #fff;
        background-color: #a3bbc8;
        @extend %DMSans-Regular;
    }
}

.footer-bottom {
    padding: 35px 0 40px;
    display: flex;
    justify-content: space-between;
    &__text {
        font-size: 14px;
        @extend %Rubik-Regular;
        color: $footer-link;
    }
    &__list {
        display: flex;
        color: $footer-link;
    }
    &__item:not(:last-child)::after {
        content: "|";
        margin: 13px;
    }
    &__link {
        color: inherit;
        font-size: 14px;
        text-decoration: none;
    }
}

@import "media";